{{!-- <h3>Hello {{user.name}} !!!</h3>

<br>
<br>

<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Block name</th>
        <th scope="col">Complaint Type</th>
      <th scope="col">Customer Contact Number</th>
      <th scope="col">Description</th>
      <th scope="col">User name</th>
    </tr>
  </thead>
  <tbody>
    {{#each complaints}}
        <tr>
            <td>{{_id}}</td>          
            <td>{{blockname}}</td>
            <td>{{complainttype}}</td>
            <td>{{contact}}</td>
            <td>{{desc}}</td>
            <td>{{username}}</td>
        </tr>
    {{/each}}
    
  </tbody>
</table>
 --}}

 h3>Hello {{user.name}} !!!</h3>

<br>
<br>

<form>
  <label for="complaintType">Select Complaint Type:</label>
  <select id="complaintType" name="complaintType">
    <option value="all">All</option>
    <option value="infrastructure">Infrastructure</option>
    <option value="sanitation">Sanitation</option>
    <option value="sanitation">Technical</option>
    <option value="sanitation">Sanitation</option>
  </select>
  <button type="button" onclick="filterComplaints()">Filter</button>
</form>

<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Block name</th>
      <th scope="col">Complaint Type</th>
      <th scope="col">Customer Contact Number</th>
      <th scope="col">Description</th>
      <th scope="col">User name</th>
    </tr>
  </thead>
  <tbody id="complaintsTable">
    {{#each complaints}}
    <tr>
      <td>{{_id}}</td>
      <td>{{blockname}}</td>
      <td>{{complainttype}}</td>
      <td>{{contact}}</td>
      <td>{{desc}}</td>
      <td>{{username}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script>
  function filterComplaints() {
    const selectedType = document.getElementById('complaintType').value;
    const complaintsTable = document.getElementById('complaintsTable');
    const rows = complaintsTable.getElementsByTagName('tr');

    for (let i = 1; i < rows.length; i++) {
      const complaintType = rows[i].getElementsByTagName('td')[2].innerText.toLowerCase();
      if (selectedType === 'all' || complaintType === selectedType) {
        rows[i].style.display = '';
      } else {
        rows[i].style.display = 'none';
      }
    }
  }
</script>

