<h3>Hello {{user.name}} !!!</h3>

<br>
<br>

<table class="table table-bordered">
    <thead class="table-success">
        <tr>
            
            <th scope="col">BlockName</th>
            <th scope="col">Complaint Type</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Desc</th>
        </tr>
    </thead>
    <tbody>
        {{#each complaints}}
        <tr>
            <td>{{blockname}}</td>
            <td>{{complainttype}}</td>
            <td>{{contact}}</td>
            <td>{{desc}}</td>
        </tr>
        {{/each}}

    </tbody>
</table>